{% extends 'base.html' %}

{% block title %}{{ _('400 Error') }}{% endblock %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="card w-50 bg-light">
            <img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/error.jpg') }}">
            <div class="card-body">
                <h5 class="card-title">{{ _('400 Error') }}</h5>
                <p class="card-text">{{ description|default(_('Bad Request')) }}</p>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <a class="btn btn-primary" href="{{ url_for('main.index') }}">{{ _('Return Home') }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
