{% extends 'base.html' %}
{% from 'bootstrap/nav.html' import render_breadcrumb_item %}

{% block title %}{{ _('Dashboard') }}{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('admin.index') }}">
                <img src="{{ url_for('static', filename='favicon.ico') }}" alt="{{ _('Vshaurme') }}"> {{ _("Vshaurme Dashboard") }}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="{{ _('Toggle navigation') }}">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <div class="navbar-nav ml-auto">
                    {{ render_nav_item('main.index', _('Return Vsharume')) }}
                    <div class="dropdown nav-item">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">{{ _('Manage') }}<span class="caret"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <a class="dropdown-item" href="{{ url_for('admin.manage_photo') }}">{{ _('Photos') }}</a>
                            <a class="dropdown-item" href="{{ url_for('admin.manage_user') }}">{{ _('Users') }}</a>
                            <a class="dropdown-item" href="{{ url_for('admin.manage_tag') }}">{{ _('Tags') }}</a>
                            <a class="dropdown-item" href="{{ url_for('admin.manage_comment') }}">{{ _('Comments') }}</a>
                        </div>
                    </div>
                    <div class="dropdown nav-item">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">
                            <img class="avatar-xs"
                                 src="{{ url_for('main.get_avatar', filename=current_user.avatar_s) }}">
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <h6 class="dropdown-header">{{ _('Logged in as ') }} {{ current_user.username }}</h6>
                            <a class="dropdown-item" href="{{ url_for('user.index', username=current_user.username) }}">
                                <span class="oi oi-person"></span> {{ _('My Home') }}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('user.edit_profile') }}">
                                <span class="oi oi-cog"></span> {{ _('Settings') }}
                            </a>
                            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">
                                <span class="oi oi-power-standby"></span> {{ _('Logout') }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{ render_breadcrumb_item('admin.index', _('Dashboard Home')) }}
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-6">
            <div class="card border-primary mb-3">
                <div class="card-header"><span class="oi oi-image"></span> {{ _('Photos') }}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ _('Total:') }} {{ photo_count|default('0') }}</h4>
                    <p class="card-text">{{ _('Reported:') }} {{ reported_photo_count|default('0') }}</p>
                    <a class="btn btn-primary text-white" href="{{ url_for('.manage_photo') }}">{{ _('Manage') }}</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-secondary mb-3">
                <div class="card-header"><span class="oi oi-people"></span> {{ _('Users') }}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ _('Total:') }} {{ user_count|default('0') }}</h4>
                    <p class="card-text">{{ _('Locked:') }} {{ locked_user_count|default('0') }}
                        {{ _('Blocked:') }} {{ blocked_user_count|default('0') }}</p>
                    <a class="btn btn-primary text-white" href="{{ url_for('.manage_user') }}">{{ _('Manage') }}</a>
                    <a class="btn btn-secondary text-white" href="{{ url_for('.manage_user', filter='locked') }}">{{ _('View Locked') }}</a>
                    <a class="btn btn-secondary text-white" href="{{ url_for('.manage_user', filter='blocked') }}">{{ _('View Blocked') }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card border-danger mb-3">
                <div class="card-header"><span class="oi oi-comment-square"></span> {{ _('Comments') }}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ _('Total:') }} {{ comment_count|default('0') }}</h4>
                    <p class="card-text">{{ _('Reported:') }} {{ reported_comments_count|default('0') }}</p>
                    <a class="btn btn-primary text-white" href="{{ url_for('.manage_comment') }}">{{ _('Manage') }}</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-success mb-3">
                <div class="card-header"><span class="oi oi-tag"></span> {{ _('Tags') }}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ _('Total:') }} {{ tag_count|default('0') }}</h4>
                    <p class="card-text">&nbsp;</p>
                    <a class="btn btn-primary text-white" href="{{ url_for('.manage_tag') }}">{{ _('Manage') }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}