{% extends 'admin/index.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}{{ _('Manage Users') }}{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{ render_breadcrumb_item('admin.index', _('Dashboard Home')) }}
            {{ render_breadcrumb_item('admin.manage_user', _('Manage User')) }}
        </ol>
    </nav>
    <div class="page-header">
        <h1>{{ _('Users') }}
            <small class="text-muted">{{ pagination.total }}</small>
        </h1>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link disabled" href="#">{{ _('Filter') }} </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.args.get('filter', 'all') == 'all' %}active{% endif %}"
                   href="{{ url_for('admin.manage_user', filter='all') }}">{{ _('All') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.args.get('filter') == 'locked' %}active{% endif %}"
                   href="{{ url_for('admin.manage_user', filter='locked') }}">{{ _('Locked') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.args.get('filter') == 'blocked' %}active{% endif %}"
                   href="{{ url_for('admin.manage_user', filter='blocked') }}">{{ _('Blocked') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.args.get('filter') == 'administrator' %}active{% endif %}"
                   href="{{ url_for('admin.manage_user', filter='administrator') }}">{{ _('Administrator') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.args.get('filter') == 'moderator' %}active{% endif %}"
                   href="{{ url_for('admin.manage_user', filter='moderator') }}">{{ _('Moderator') }}</a>
            </li>
        </ul>
    </div>
    {% if users %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ _('Avatars') }}</th>
                <th>{{ _('Name/username') }}</th>
                <th>{{ _('Role') }}</th>
                <th>{{ _('Bio') }}</th>
                <th>{{ _('City') }}</th>
                <th>{{ _('Date') }}</th>
                <th>{{ _('Photos') }}</th>
                <th>{{ _('Actions') }}</th>
            </tr>
            </thead>
            {% for user in users %}
                <tr>
                    <td><img src="{{ url_for('main.get_avatar', filename=user.avatar_s) }}"></td>
                    <td>{{ user.name }}<br>{{ user.username }}</td>
                    <td>{{ user.role.name }}</td>
                    <td>{{ user.bio }}</td>
                    <td>{{ user.location }}</td>
                    <td>{{ moment(user.member_since).format('LL') }}</td>
                    <td>
                        <a href="{{ url_for('user.index', username=user.username) }}">{{ user.photos|length }}</a>
                    </td>
                    <td>
                    {% if user.role.name not in ['Administrator', 'Moderator'] %}
                        {% if user.locked %}
                            <form class="inline" action="{{ url_for('admin.unlock_user', user_id=user.id) }}"
                                  method="post">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="submit" onclick="return confirm('{{ _('Are you sure?') }}');"
                                       class="btn btn-secondary btn-sm" value="{{ _('Unlock') }}">
                            </form>
                        {% else %}
                            <form class="inline" action="{{ url_for('admin.lock_user', user_id=user.id) }}"
                                  method="post">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="submit" onclick="return confirm('{{ _('Are you sure?') }}');"
                                       class="btn btn-warning btn-sm" value="{{ _('Lock') }}">
                            </form>
                        {% endif %}
                        {% if user.active %}
                            <form class="inline" action="{{ url_for('admin.block_user', user_id=user.id) }}"
                                  method="post">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="submit" onclick="return confirm('{{ _('Are you sure?') }}');"
                                       class="btn btn-warning btn-sm" value="{{ _('Block') }}">
                            </form>
                        {% else %}
                            <form class="inline" action="{{ url_for('admin.unblock_user', user_id=user.id) }}"
                                  method="post">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="submit" onclick="return confirm('{{ _('Are you sure?') }}');"
                                       class="btn btn-secondary btn-sm" value="{{ _('Unblock') }}">
                            </form>
                        {% endif %}
                    {% endif %}
                        <a class="btn btn-light btn-sm" href="mailto:{{ user.email }}">{{ _('Email') }}</a>
                        {% if current_user.is_admin %}
                            <a class="btn btn-warning btn-sm"
                               href="{{ url_for('admin.edit_profile_admin', user_id=user.id) }}">{{ _('Edit profile') }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="page-footer">{{ render_pagination(pagination) }}</div>
    {% else %}
        <div class="tip"><h5>{{ _('No users.') }}</h5></div>
    {% endif %}
{% endblock %}